<!DOCTYPE html>
<html lang=en>
  <head>
    <style>
      body {
        visibility: hidden;
        opacity: 0;
      }
    </style>
    <meta charset="UTF-8"/>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <link href="/static/atom-dark.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>{{ title }}</title>
    <noscript>
      <style>
        body {
          visibility: visible;
          opacity: 1;
        }
      </style>
    </noscript>
  </head>
  <body>
    <div class="container">
      <image class="title-img" src="/static/title.png"/>
      {% include "partials/nav.html" %}
      <main tabindex="-1">
        {% block content %}{% endblock %}
      </main>
    </div>
    <script src="/static/theme.js"></script>
  </body>
</html>