:root {
  --link: #47C2FF;
  --link-hover: #50D7A4;
}

body {
  --header-color: #666;
  --background-color: #eee;
  --text-color: #111;
}

body.dark-theme {
  --header-color: #fff;
  --background-color: #222;
  --text-color: #eee;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

a {
  text-decoration: none;
  color: var(--link);
  font-weight: bold;
}

a:hover {
  color: var(--link);
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 30px 20px 50px 20px;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  min-height: calc(100vh - 2rem);
}

.title-img {
  display: block;
  margin: 10px auto;
  min-height: 80px;
  object-fit: contain;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 800px) {
  a:hover {
    color: var(--link-hover);
  }

  a:active {
    color: var(--link-hover);
  }

  .title-img {
    margin: 30px auto;
    min-height: 180px;
  }
}

@media (min-width: 800px) {
  .one {
    width: 100%;
  }

  .one-third {
    width: calc(100% / 3);
  }

  .two-thirds {
    width: calc(100% / 3 * 2);
  }

  .one-fourth {
    width: calc(100% / 4);
  }

  .half {
    width: calc(100% / 2);
  }

  .three-fourths {
    width: calc(100% / 4 * 3);
  }

  .column {
    float: left;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  padding-top: 10px;
  display: inline;
}

nav ul li a {
  display: inline-block;
  text-align: center;
}

.blog-item, .dropdown-list {
  background: var(--background-color);
  padding: 2px 12px;
}

.desktop-nav {
  display: none;
}

.dropdown-list{
  border-color: var(--link-hover);
  border-style: none solid solid solid;
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.mobile-nav {
  font-size: 2rem;
}

.navigation {
  background-color: var(--background-color);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10000;
}

@media (min-width: 800px) {
  a:hover {
    color: var(--link-hover) !important;
  }

  .desktop-nav {
    display: block;
    font-size: 1.4rem;
    padding-top: 4px;
  }

  .mobile-nav {
    display: none;
  }
}

.divider {
  background-color: var(--link-hover);
  display: block;
  height: 3px;
  margin-bottom: 5px;
  width: 100%;
}

.active {
  color: var(--link-hover) !important;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.sun-icon {
  display: none;
}

.icons {
  padding: 5px 10px;
}

.project-item {
  margin-bottom: 50px;
}

.blog-list {
  padding-top: 30px;
}

.project-image {
  width: 200px;
  height: 200px;
}

.project-list-border {
  border-bottom: 3px solid var(--link);
  display: block;
  height: 3px;
  margin: 10px auto;
  width: 240px;
}

.post-list-border {
  border-bottom: 3px solid var(--link);
  display: block;
  height: 3px;
  width: 100%;
  margin: 10px 0px 50px 0px;
  clear: both;
}

.project-container {
  padding: 0 20px;
  text-align: center;
}

.project-description {
  min-height: 32px;;
}

.read-more {
  padding-top: 5px;
}

.post-date {
  font-size: smaller;
  padding-bottom: 10px;
}

.excerpt {
  padding-bottom: 10px;
}

.link-header {
  text-decoration: underline;
}

.project-text-home {
  float:left;
}
.project-image-home {
  float: right;
}

.home-updates {
  padding-top: 16px;
}

.tag {
  padding: 0px 5px;
}

.all-tag {
  font-size: large;
  padding: 10px 0px;
}